<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>categoryId</key>
		<integer>1</integer>
		<key>name</key>
		<string>食品零食</string>
		<key>subCategories</key>
		<array>
			<dict>
				<key>subId</key>
				<integer>1</integer>
				<key>subName</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>subId</key>
				<integer>2</integer>
				<key>subName</key>
				<string>饼干糕点</string>
			</dict>
            <dict>
                <key>subId</key>
                <integer>3</integer>
                <key>subName</key>
                <string>膨化食品</string>
            </dict>
            <dict>
                <key>subId</key>
                <integer>4</integer>
                <key>subName</key>
                <string>坚果炒货</string>
            </dict>
            <dict>
                <key>subId</key>
                <integer>5</integer>
                <key>subName</key>
                <string>果冻蜜饯</string>
            </dict>
            <dict>
                <key>subId</key>
                <integer>6</integer>
                <key>subName</key>
                <string>方便素食</string>
            </dict>
            <dict>
                <key>subId</key>
                <integer>7</integer>
                <key>subName</key>
                <string>糖果巧克力</string>
            </dict>
		</array>
	</dict>
	<dict>
        <key>categoryId</key>
        <string>2</string>
		<key>name</key>
		<string>饮料饮品</string>
        <key>subCategories</key>
        <array>
            <dict>
                <key>subId</key>
                <integer>1</integer>
                <key>subName</key>
                <string>全部</string>
            </dict>
            <dict>
                <key>subId</key>
                <integer>2</integer>
                <key>subName</key>
                <string>茶饮料</string>
            </dict>
            <dict>
                <key>subId</key>
                <integer>3</integer>
                <key>subName</key>
                <string>饮用水</string>
            </dict>
            <dict>
                <key>subId</key>
                <integer>4</integer>
                <key>subName</key>
                <string>功能饮料</string>
            </dict>
            <dict>
                <key>subId</key>
                <integer>5</integer>
                <key>subName</key>
                <string>果蔬饮料</string>
            </dict>
            <dict>
                <key>subId</key>
                <integer>6</integer>
                <key>subName</key>
                <string>含乳饮品</string>
            </dict>
            <dict>
                <key>subId</key>
                <integer>7</integer>
                <key>subName</key>
                <string>碳酸饮料</string>
            </dict>
            <dict>
                <key>subId</key>
                <integer>7</integer>
                <key>subName</key>
                <string>咖啡饮料</string>
            </dict>
        </array>
	</dict>
<!--	<dict>-->
<!--		<key>name</key>-->
<!--		<string>营养冲调</string>-->
<!--		<key>subCategories</key>-->
<!--		<array>-->
<!--			<string>全部</string>-->
<!--			<string>咖啡</string>-->
<!--			<string>奶茶</string>-->
<!--		</array>-->
<!--	</dict>-->
<!--	<dict>-->
<!--		<key>name</key>-->
<!--		<string>牛奶乳品</string>-->
<!--		<key>subCategories</key>-->
<!--		<array>-->
<!--			<string>全部</string>-->
<!--			<string>纯牛奶</string>-->
<!--			<string>儿童奶</string>-->
<!--			<string>冰淇淋</string>-->
<!--			<string>酸奶</string>-->
<!--			<string>豆奶</string>-->
<!--		</array>-->
<!--	</dict>-->
<!--	<dict>-->
<!--		<key>name</key>-->
<!--		<string>酒</string>-->
<!--		<key>subCategories</key>-->
<!--		<array>-->
<!--			<string>全部</string>-->
<!--			<string>啤酒</string>-->
<!--			<string>洋酒</string>-->
<!--		</array>-->
<!--	</dict>-->
<!--	<dict>-->
<!--		<key>name</key>-->
<!--		<string>粮油干活</string>-->
<!--		<key>subCategories</key>-->
<!--		<array>-->
<!--			<string>全部</string>-->
<!--			<string>厨房调料</string>-->
<!--			<string>南北干货</string>-->
<!--			<string>酱菜</string>-->
<!--		</array>-->
<!--	</dict>-->
<!--	<dict>-->
<!--		<key>name</key>-->
<!--		<string>家居清洁</string>-->
<!--		<key>subCategories</key>-->
<!--		<array>-->
<!--			<string>全部</string>-->
<!--			<string>厨卫清洁</string>-->
<!--			<string>居家日用</string>-->
<!--			<string>衣物清洁</string>-->
<!--			<string>家电五金</string>-->
<!--		</array>-->
<!--	</dict>-->
<!--	<dict>-->
<!--		<key>name</key>-->
<!--		<string>纸巾洗护</string>-->
<!--		<key>subCategories</key>-->
<!--		<array>-->
<!--			<string>全部</string>-->
<!--			<string>口腔护理</string>-->
<!--			<string>面部护理</string>-->
<!--			<string>洗护沐浴</string>-->
<!--			<string>女性护理</string>-->
<!--			<string>纸品湿巾</string>-->
<!--		</array>-->
<!--	</dict>-->
<!--	<dict>-->
<!--		<key>name</key>-->
<!--		<string>代购</string>-->
<!--		<key>subCategories</key>-->
<!--		<array>-->
<!--			<string>全部</string>-->
<!--			<string>香烟</string>-->
<!--			<string>计生用品</string>-->
<!--		</array>-->
<!--	</dict>-->
<!--	<dict>-->
<!--		<key>name</key>-->
<!--		<string>办公用品</string>-->
<!--		<key>subCategories</key>-->
<!--		<array>-->
<!--			<string>全部</string>-->
<!--			<string>办公文具</string>-->
<!--		</array>-->
<!--	</dict>-->
<!--	<dict>-->
<!--		<key>name</key>-->
<!--		<string>进口商品</string>-->
<!--		<key>subCategories</key>-->
<!--		<array>-->
<!--			<string>全部</string>-->
<!--			<string>进口零食</string>-->
<!--		</array>-->
<!--	</dict>-->
</array>
</plist>
